body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
  color: #333;
}

.section-title {
  margin-top: 40px;
  color: #444;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

#searchBarWrapper {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 10px 0;
  z-index: 1000;
}

#searchInput {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0 auto;
  display: block;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
}

.product {
  text-align: center;
  width: 150px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  border: 2px solid #333;
}

.product p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.2;
  word-wrap: break-word;
  white-space: normal;
}
